  /*color for debug*/
* {
  /* border : 1px dotted blueviolet; */
}

.Nav {
  padding: 0;
  margin:0;
  box-shadow: 1px 0px 2px black;
}

.nav-content {
  display: flex;
  padding: 1.5rem 1rem;
}

.img-logo {
  width: 9rem;
  height: auto;
}